@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.hero {
    background-image: url('/public/images/bg.png');
    background-size: cover;
    background-position: center;
}

.dash {
    background-image: url('/public/images/bg.png');
    background-size: cover;
    background-position: center;
}

.yoru {
    background-image: url('/public/images/main.png');
    background-size: cover;
    background-position: center;
}
